<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>Log Out</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container">
        <h1 style="font-size: larger;">{{username}}</h1>
        <form action="/logout" method="post">
            <button class="submit-btn" type="submit">Do you wish to Log out ?</button>
        </form>
        <a href="/" class="link">No ? Continue shopping ... </a>
    </div>
</body>
</html>