<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container">
        <h1 style="font-size: larger;">Sign Up</h1>
        <form action="/signup" method="post">
            <input type="text" autocomplete="off" name="name" placeholder="full name">
            <input type="text" autocomplete="off" name="id" placeholder="username">
            <input type="password" autocomplete="off" name="password" placeholder="password">
            <input type="text" autocomplete="off" name="address" placeholder="address">
            <input type="text" autocomplete="off" name="phone" placeholder="phone number">
            <button type="submit" class="submit-btn">Create Account</button>
        </form>
        <a href="/login" class="link">Already have an account? Log in here</a>
    </div>
</body>
</html>